.connection {
    position: absolute;
    background: black;
}

.connection>.messages-container {
    position: absolute;
    top: -35px;
    transform: rotateZ(90deg);
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

