html {
    font-family: 'Roboto', sans-serif;
    background: gray;
}

button {
    background: #ff5bff;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    line-height: 36px;
    border-radius: 2px;
    border: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    user-select: none;
    padding: 0 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

label {
    font-weight: bold;
}