.messages {
    margin: auto;
    line-height: 0;
}

.message {
    display: inline-block;
    border: 1px solid black;
    border-radius: 100%;    
    box-sizing: border-box;
}

.messages:not(.single) {
    border: 1px solid black;
    background: rgba(255,255,255, 0.3);
    padding: 2px;
}

.messages.Hot .message {
    box-shadow: 0 0 20px red;
}

.messages.Cold .message {
    box-shadow: 0 0 20px blue;
}